#Eclipse
.project
.classpath

#IntelliJ
.idea
*.iml

#Appengine
etc/appengineRun/**

#Output
build
classes
.tmp

#Gradle
.gradle

#Client
bower_components
node_modules

#Other
bin
settings
.DS_Store
report