#Eclipse
.project
.classpath

#IntelliJ
.idea
*.iml

#Appengine
etc/appengineRun/**

#Output
build
classes
.tmp

#Gradle
.gradle
gradle
build.gradle

#Client
bower_components
node_modules
.tmp

#Other
bin
settings
.DS_Store